In [767]:
import pandas as pd

In [ ]:
df = pd.read_csv("denver-1.nov.csv")

In [771]:
dftotalstops = df["arrest_made"]
len(df["arrest_made"])
dftotalstops

0       False
1       False
2       False
3       False
4       False
        ...
6360    False
6361    False
6362    False
6363    False
6364    False
Name: arrest_made, Length: 6365, dtype: bool

In [ ]:
import seaborn as sb


precinctDF = df.groupby("precinct").agg({"arrest_made":sum}).sort_values([("arrest_made")],ascending=False)
precinctDF = precinctDF.reset_index() # this indexes the rows
precinctDF.columns = ['Precinct','Stops'] # this renames my columns
precinctDF

In [626]:
import seaborn as sb

In [627]:
newDf = df.groupby(["precinct","outcome"]).size()

In [628]:
#this is the amount of warnings issued per precinct
df1 = pd.DataFrame(newDf)
#df1.columns("precinct","outcomes","number")
df1 = df1.sort_values(by = ["outcome",0], ascending= False) 

df1warning = df1.iloc[:36]
df1warning = df1warning.reset_index()
df1warning = df1warning.rename(columns = {"precinct":"Precinct", "outcome":"Outcome",0:"Amount"})
df1warning

   Precinct  Outcome  Amount
0       223  warning      46
1       311  warning      42
2       421  warning      37
3       111  warning      33
4       411  warning      33
5       113  warning      27
6       412  warning      27
7       423  warning      27
8       122  warning      26
9       222  warning      26
10      121  warning      25
11      221  warning      25
12      312  warning      24
13     None  warning      23
14      123  warning      22
15      521  warning      21
16      213  warning      20
17      323  warning      20
18      211  warning      19
19      212  warning      19
20      321  warning      19
21      322  warning      19
22      611  warning      17
23      314  warning      16
24      511  warning      16
25      621  warning      16
26      422  warning      14
27      512  warning      14
28      522  warning      10
29      623  warning      10
30      112  warning       8
31      313  warning       8
32      612  warning       8
33      523  warning       6
34      622  warning       6
35      324  warning       3

In [629]:
#this is the amount of citations issued per precinct
dfCitations = df1.iloc[36:73]
dfCitations = dfCitations.reset_index()
dfCitations = dfCitations.rename(columns = {"precinct":"Precinct", "outcome":"Outcome",0:"Amount"})
dfCitations

   Precinct   Outcome  Amount
0       223  citation      60
1       312  citation      59
2       111  citation      52
3       311  citation      49
4       411  citation      46
5       421  citation      40
6       422  citation      40
7       313  citation      39
8       521  citation      39
9       412  citation      38
10      112  citation      36
11      121  citation      36
12      213  citation      35
13      212  citation      33
14      113  citation      30
15      511  citation      30
16      221  citation      28
17      222  citation      28
18      322  citation      28
19      323  citation      27
20      324  citation      26
21      621  citation      26
22      122  citation      25
23      123  citation      25
24      211  citation      24
25      611  citation      23
26      512  citation      20
27      314  citation      19
28      423  citation      17
29     None  citation      16
30      623  citation      13
31      522  citation      11
32      523  citation      11
33      612  citation      11
34      622  citation      10
35      321  citation       9
36      759  citation       1

In [630]:
#amount of arrest made by each precinct
dfArrest = df1.iloc[73:]
dfArrest = dfArrest.reset_index()
dfArrest = dfArrest.rename(columns = {"precinct":"Precinct", "outcome":"Outcome",0:"Amount"})
dfArrest

   Precinct Outcome  Amount
0       223  arrest      78
1       211  arrest      65
2       411  arrest      54
3       621  arrest      50
4       311  arrest      49
5       412  arrest      46
6       612  arrest      43
7       111  arrest      41
8       611  arrest      41
9       112  arrest      40
10      122  arrest      40
11      121  arrest      39
12      212  arrest      39
13      221  arrest      33
14      623  arrest      28
15      123  arrest      26
16      421  arrest      26
17      521  arrest      26
18      622  arrest      24
19      213  arrest      23
20     None  arrest      23
21      312  arrest      19
22      222  arrest      16
23      422  arrest      15
24      113  arrest      14
25      512  arrest      14
26      511  arrest      12
27      313  arrest      11
28      323  arrest      10
29      314  arrest       8
30      322  arrest       8
31      423  arrest       8
32      321  arrest       6
33      522  arrest       4
34      523  arrest       4
35      324  arrest       2

In [631]:
df1.pivot_table(index = "outcome", columns = ["precinct"]).sort_values(by="outcome", ascending = False)

             0                                                        ...  \
precinct   111   112   113   121   122   123   211   212   213   221  ...
outcome                                                               ...
warning   33.0   8.0  27.0  25.0  26.0  22.0  19.0  19.0  20.0  25.0  ...
citation  52.0  36.0  30.0  36.0  25.0  25.0  24.0  33.0  35.0  28.0  ...
arrest    41.0  40.0  14.0  39.0  40.0  26.0  65.0  39.0  23.0  33.0  ...


precinct   521   522   523   611   612   621   622   623  759  None
outcome
warning   21.0  10.0   6.0  17.0   8.0  16.0   6.0  10.0  NaN  23.0
citation  39.0  11.0  11.0  23.0  11.0  26.0  10.0  13.0  1.0  16.0
arrest    26.0   4.0   4.0  41.0  43.0  50.0  24.0  28.0  NaN  23.0

[3 rows x 37 columns]

In [632]:
#The is the the percent of arrest made
AverageArrest = sum(dfArrest["Amount"])/len(dfArrest)
AverageArrest

27.36111111111111

In [633]:
#This is the percent of citations given
AverageCitation = sum(dfCitations["Amount"])/len(dfCitations)
AverageCitation

28.64864864864865

In [634]:
#This is the percent of warnings issued
AverageWarning = sum(df1warning['Amount'])/len(df1warning)
AverageWarning

20.333333333333332

In [773]:
AverageCitation+AverageWarning

48.98198198198198

In [649]:
districtDf = df.groupby(["district","outcome"]).size()
districtDf = pd.DataFrame(districtDf)
districtDf = districtDf.reset_index()
#districtDf = districtDf.sort_values(by =["district","outcome"] , ascending= False) 
districtDf

   district   outcome    0
0         1    arrest  200
1         1  citation  204
2         1   warning  141
3         2    arrest  254
4         2  citation  208
5         2   warning  155
6         3    arrest  113
7         3  citation  256
8         3   warning  151
9         4    arrest  149
10        4  citation  181
11        4   warning  138
12        5    arrest   60
13        5  citation  111
14        5   warning   67
15        6    arrest  186
16        6  citation   83
17        6   warning   57
18        7  citation    1
19     None    arrest   23
20     None  citation   16
21     None   warning   23

In [764]:
pivot = districtDf.pivot_table(index = "outcome", columns = ["district"]).sort_values(by="outcome", ascending = False)

In [765]:
pivot = pivot.rename(columns = {0:"Amount of Issues"})

In [766]:
#This is a pivot table for each amount of each issue given based on district
import matplotlib
pivot = pivot.reset_index()
pivot = pivot.fillna(0)
pivot

           outcome Amount of Issues                                          \
district                          1      2      3      4      5      6    7
0          warning            141.0  155.0  151.0  138.0   67.0   57.0  0.0
1         citation            204.0  208.0  256.0  181.0  111.0   83.0  1.0
2           arrest            200.0  254.0  113.0  149.0   60.0  186.0  0.0


district  None
0         23.0
1         16.0
2         23.0

In [762]:
pivot = pivot.to_json(orient = "index")
f = open("data.json","w")
f.write(pivot)

915